<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailHost" value="HPVRESCAS01V.resource.corp.lcl"/>
    <add key="EmailPort" value="993"/>
    <add key="EmailSsl" value="true"/>
    <add key="EmailUsername" value="aviatur@travelport.com"/>
    <add key="EmailPassword" value="Fall2017$#"/>
    <add key="MaxHandledEmailsPerLoop" value="16"/>
    <add key="BasePath" value="C:\Users\fabian.merchan\Documents\Travelport\Mistaker\Debug"/>
    <add key="DefaultIndex" value="generalerrors"/>
    <add key="AvailClosedIndex" value="availclosed"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
